body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  font-family: verdana, sans-serif;
  display: grid;
  grid-template:
      "h" 250px
      "m" 1fr
      "f" 50px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* ヘッダー */

header {
  grid-area: h;
}

header h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

header p {
  text-align: center;
  font-size: 25px;
}

/* メイン */
main {
  grid-area: m;
}

#btn {
  width: 200px;
  height: 200px;
  background: orange;
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
  margin: 10px auto;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-size: 50px;
  box-shadow: 0 5px 0 rgb(133, 86, 0);
  user-select: none;
}

#btn:hover {
  opacity: 0.8;
}

#btn:active {
  box-shadow: 0 5px 0 rgb(190, 124, 0);
  margin-top: 15px;
}

/* フッター */
footer {
  grid-area: f;
}

footer p {
  text-align: center;
}

/* ジャバスクリプト用クラス */

/* メディアクエリ */
@media (min-width: 600px) {
  body {
    grid-template:
    ""
    ""
    "";
  }

  /* ヘッダー */

  /* メイン */

  /* フッター */

}